<html>
<title>
    Home Page
</title>

<body>
    <h1>Cinema Experience System</h1>
    <br>
    <h1>{{message}}</h1>
    accesss token is {{access_token}} refresh token is {{refresh_token}}
    <h3>Select Movie Booking or Food Ordering:-</h3>
    <form action="/bookOrOrder" method="post" enctype="multipart/form-data">
        <input type="radio" id="moviebooking" name="choosing" value="movie">
        <label for="moviebooking">Movie Booking</label><br>
        <input type="radio" id="foodordering" name="choosing" value="food">
        <label for="foodordering">Food Ordering</label><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>