<html>
    <title>
        Make Order
    </title>
    <body>
    <h2>==========Price list==========</h2>
        <table>
        <tr>
            <th>Food Item</th>
            <th></th>
            <th>Price(Rs.)</th>
        </tr>
        <tr>
            <td>Popcorn</td>
                <td> - </td>
            <td>700.00</td>
        </tr>
        <tr>
            <td>Coke</td>
                <td> - </td>
            <td>500.00</td>
        </tr>
        <tr>
            <td>Nachos</td>
                <td> - </td>
            <td>300.00</td>
        </tr>
        </table>

        <br>
        <h1>Food Order Form:-</h1>
        <form name="tblform" action="/vieworder" method="post" enctype="multipart/form-data">
            <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type="text" name="username">
            </td>
        </tr>
        </table>
            <br>
        <table>
            <tr>
                <th>Food Items</th>
                <th>Item Name</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td>Item 1:</td>
                <td>
                    <select id="item1" name="item1">
                        <option value="0">--Select Item--</option>
                        <option value="Popcorn">Popcorn</option>
                        <option value="Coke">Coke</option>
                        <option value="Nachos">Nachos</option>
                    </select>
                </td>
                <td>
                    <input type="number" value="0" id="q1" name="item1Quantity">
                </td>
            </tr>
            <tr>
                <td>Item 2:</td>
                <td>
                    <select id="item2" name="item2">
                        <option value="0">--Select Item--</option>
                        <option value="Popcorn">Popcorn</option>
                        <option value="Coke">Coke</option>
                        <option value="Nachos">Nachos</option>
                    </select>
                </td>
                <td><input  type="number" value="0" id="q2" name="item2Quantity"></td>
            </tr>
            <tr>
                <td>Item 3:</td>
                <td>
                    <select id="item3" name="item3">
                    <option value="0">--Select Item--</option>
                    <option value="Popcorn">Popcorn</option>
                    <option value="Coke">Coke</option>
                    <option value="Nachos">Nachos</option>
                    </select>
                </td>
                <td><input type="number" value="0" id="q3" name="item3Quantity"></td>
            </tr>

        </table>

            <button type="submit" value="submit">Submit</button>
        </form>

        <!--<form action="/vieworder" method="post" enctype="multipart/form-data">

            <br>
            <button type="submit">Submit</button>
        </form>-->
    </body>
</html>